@media (min-width: 768px) {

    /* -------- HEADER -------- */

    header {
        grid-template-columns: auto 1fr;
    }

    #menu-button {
        display: none;
    }

    /* -------- NAVIGATION -------- */

    .navigation {
        grid-column: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    /* -------- MAIN GRID -------- */

    .main-grid {
        grid-template-columns: 2fr 1fr;
        align-items: start;
    }

    .full-width {
        grid-column: 1 / -1;
    }

    /* -------- COURSES -------- */

    .course-container {
        grid-template-columns: repeat(3, 1fr);
    }

    /* -------- FOOTER -------- */

    footer {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
    }
}